<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NC NEWS</title>
</head>
<body>
    <h1><a href='/api/users'>USERS</a></h1>
    <h1><a href='/api/comments'>COMMENTS</a></h1>
    <h1><a href='/api/articles'>ARTICLES</a></h1>
    <h1><a href='/api/topics'>TOPICS</a></h1>
</body>
</html>